# Heroku environmental variables, including API keys.
# https://devcenter.heroku.com/articles/config-vars
.env

# npm packages
# node_modules # Heroku gives error when these are not on git: Cannot find module ./proto

# Mac
.DS_Store

# Emacs
*~
[#]*[#]