<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Contact</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap-combined.no-icons.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css">
    <script src="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fjquery.js"></script>
    <script src="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap.js"></script>
  </head>
  <body>
    <div class="container">
      <h2>Contact us at 5x5goalsetr@gmail.com</h2>
        <h3>If you are a supporter or a potential user</h3>
          <ul> 
            <li>Tell us what you like and what you don't like on the campaign or the goalsetr app under development.</li>
	    <li>Tell us about competing products and what you like and don't like about them.</li>
            <li>Tell us how we can reach a large audience with this campaign (and help us using the social buttons).</li>
          </ul>
        <h3>If you would like to sponsor</h3>
          <ul>
          <li>If you don't have or can't buy bitcoins or if you prefer to pay us otherwise. </li> 
	  </ul>
        <h3>If you are a developer and would like to help</h3>
          <ul>
	  <li>Tell us something about your development knowledge, experience and interest. We will investigate where you can fit in or you can propose something.</li>
          </ul>
        <h3>If you have any other tip or question</h3>
          <ul>
          <li>Tell us! All feedback is welcome!</li>
          </ul>
        <p>One address: <a href="mailto:5x5goalsetr@gmail.com?Subject=[goalsetr%20feedback]" target="_top">5x5goalsetr@gmail.com</a></p>
 
    <%- include footer.ejs %>
    </div>
  </body>
</html>
